<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />-->
    <script src="/static/jquery-3.2.1.js"></script>
</head>
<body>
    <div class="container">

        <header>
            <nav>
                <ul>
                    <li><a href="/index/">На главную</a></li>
                    <li><a href="/questions/">Все вопросы</a></li>
                    <li><a href="/questions/categories/">Категории</a></li>
                    <li><a href="/questions/create/">Задать вопрос</a></li>
                </ul>
            </nav>
            <div class="loginsignuplogout">
                {% if user.is_authenticated %}
                    {{ user }}
                    <form action="/logout/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="выйти">
                    </form>
                {% else %}
                    <a href="/login/">Войти</a>   <a href="/signup/">Регистрация</a>
                {% endif %}
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>


        <footer></footer>
    </div>
</body>
</html>