{% extends 'base.html' %}

{% block title %}Ваш профиль{% endblock %}

{% block caption %}Ваш профиль{% endblock %}

{% block content %}

<div class="card-body">

    {% for user in object_list %}
        <span>Ваш логин:</span><br/>
        <span>{{ user.username }}</span><br/><br/>
        <span>Ваш email адрес:</span><br/>
        <span>{{ user.email }}</span>
    {% endfor %}<br/><br/>

    <h2>Ваши вопросы:</h2><br/>

    <div class="col-sm-8">
    {% for question in questions_all %}
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="margin-top: -16px;">{{ question.title }}</h4>
            <span class="card-text">Дата создания: {{ question.created_at }}</span>&nbsp;&nbsp;&nbsp;
            <span class="card-text">Рейтинг: {{ question.rating }}</span>&nbsp;&nbsp;&nbsp;
            <span class="card-text">Ответы: {{ question.answers_count }}</span>
            <a href="{% url 'question_detail' pk=question.id %}" class="btn btn-success" style="float:right;margin-bottom:-20px;">Страница вопроса</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}<br/>
    </div>

</div>

{% endblock %}