{% extends 'base.html' %}

{% block title %}Страница вопроса{% endblock %}

{% block content %}
    <h1>Вопрос</h1><br/>
    {{ question.title }}<br/>
    {{ question.text }}<br/>
    {{ question.author }}<br/>
    {{ question.rating }}<br/><br/>

    {% if request.user.is_authenticated %}
    <h2>Добавить комментарий:</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    {% else %} <h3>Для добавления комментария войдите в учетную запись!</h3>
    {% endif %}

    <h2>Все комментарии:</h2>
    {% for answer in answers %}
        {{ answer.text }}   {{ answer.author }}   {{ answer.created_at }}<br/>
    {% endfor %}
{% endblock %}