{% extends 'base.html' %}

{% block title %}Все вопросы{% endblock %}

{% block content %}
    <h1>Список вопросов</h1><br/>

    <form action="">
        <!--{{ form }}-->
        {{ form.errors }}
        {{ form.search.label_tag }}
        {{ form.search }}
        {{ form.sort_field }}
        <!--{{ form.sort_field.errors }}-->
        <input type="submit">
    </form><br/>

    {% for question in object_list %}
        {{ question.category }}  <b>{{ question.created_at }}</b> {{ question.author }} Рейтинг: {{ question.rating }}
    <a href="{% url 'question_detail' pk=question.id %}">{{ question.title }}</a>
    Кол-во ответов: {{ question.answers_count }}<br/>
    {% endfor %}<br/>


    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}
            страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
        {% endif %}
    {% endif %}


{% endblock %}