{% extends 'base.html' %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
    <h1>Вопрос</h1>
    {% if request.user == question.author %}
        <a href="{% url 'question_update' pk=question.id %}">Редактировать</a><br/>
        <a href="{% url 'question_delete' pk=question.id %}">Удалить вопрос</a><br/>
    {% endif %}<br/>
    {{ question.title }}<br/>
    {{ question.text }}<br/>
    {{ question.author }}<br/>
    {{ question.rating }}<br/><br/>
    <p> Категории: <br/>
        {% for category in question.categories.all %}
            <a href="{% url 'categories_detail' pk=category.id %}">{{ category }}</a><br/>
        {% endfor %}
    </p><br/>

    {% if request.user.is_authenticated %}
    <h2>Добавить комментарий:</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    {% else %} <h3>Для добавления комментария войдите в учетную запись!</h3>
    {% endif %}

    <h2>Все комментарии:</h2>
    {% for answer in answers %}
        {{ answer.text }}   {{ answer.author }}   {{ answer.created_at }}<br/>
    {% endfor %}
{% endblock %}